@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(45deg, #e8a9d3, #a9bae8);
  padding: 64px 16px 8px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card {
  background-color: azure;
  border-radius: 10px;
}

.container-img {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  filter: grayscale();
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  border-radius: 10px 10px 0px 0px;
  background-color: #d559ac;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 24px 50px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 20pt;
  color: rgb(53, 60, 60);
  padding-top: 0px;
}

h1 span {
  color: #d53ea2;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 11pt;
  color: rgb(109, 118, 118);
}

.data {
  text-align: center;
  font-weight: 400;
  font-size: 10pt;
  color: rgb(109, 118, 118);
  text-transform: uppercase;
}

.data h6 {
  text-align: center;
  margin: 0px;
  /* padding-bottom: px; */
  font-weight: 800;
  font-size: 16pt;
  color: rgb(53, 60, 60);
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 64px;
  font-weight: 400;
  font-size: 7pt;
  text-align: center;
}
.attribution a {
  color: #d53ea2;
}

@media (min-width: 768px) {
  body {
    padding-top: 32px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .container {
    height: 94vh;
  }

  .container-content {
    padding: 0px;
  }

  .content {
    padding: 48px;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
  }

  .image {
    height: 100%;
    border-radius: 0px 10px 10px 0px;
  }

  .overlay {
    border-radius: 0px 10px 10px 0px;
  }

  h1 {
    text-align: left;
    font-size: 18pt;
  }

  .subtitle {
    text-align: left;
    font-size: 8pt;
  }

  .datas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .data {
    text-align: left;
    font-size: 8pt;
  }

  .data h6 {
    text-align: left;
    font-size: 12pt;
  }

  .attribution {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  body {
    padding-right: 140px;
    padding-left: 140px;
  }

  h1 {
    font-size: 22pt;
  }

  .subtitle {
    font-size: 11pt;
  }

  .data {
    font-size: 10pt;
  }

  .data h6 {
    font-size: 16pt;
  }

  .attribution {
    font-size: 8pt;
  }
}
